@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  background: #c1c6ef;
}

html {
  scroll-behavior: smooth;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 64px;
  color: #222;
}

.section-p1 {
  padding: 40px 80px;
}

footer {
  /* position: fixed; */
  bottom: 0;
  /* Position at the bottom */
  width: 100%;
  /* Full width */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  /* Center-align text */
}

footer p {
  font-size: 13px;
  margin: 10px 0 8px 0;
  font-weight: 600;
}

footer .copyright {
  width: 100%;
  text-align: center;
}


.info {
  font-weight: 600;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
}


.details {
  display: inline-block;


}

.details p {
  margin: 5px 0;
  /* Add margin to separate each detail */
}