{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
</head>
<body>
    <br>
    <h1>BANARSIDAS CHANDIWALA INSTITUTE OF INFORMATION TECHNOLOGY</h1>
    <br>
    <hr>
    <br>
    <h3>EVENTS IN BCIIT: </h3>
    <br>
    
    <div class="info">
        <div class="details">
        <p>BCIIT congratulates its students Priyam Jha and Sahil of BCA,<br>
                Batch (2022-25) for coming out with flying colors and <br>
                grabbing the first opportunity to get placed.</p>
        </div>
    </div>
    <div class="info">
        {% comment %} <hr> {% endcomment %}
        <div class="details">
        <p>BCIIT is conducting TECH O FUN (tech festival)<br>
                having interesting prizes and games:<br>
                THE HUNT, TAKKEN 7, NEED FOR SPEED, BLIND CODING.</p>
        </div>
    </div>
    <div class="info">
        {% comment %} <hr> {% endcomment %}
        <div class="details">
        <p>BCIIT has initiated its placement process for BCA Batch 2023-26 in the<br>
                month of July 2022 and will continue till the end of the academic year, with<br>
                an aim of providing greater opportunities to students.</p>
        </div>
    </div>
    <div class="info">
        {% comment %} <hr> {% endcomment %}
        <div class="details">
        <p>BCIIT has initiated its placement process for BCA Batch 2023-26 in the<br>
                month of July 2022 and will continue till the end of the academic year, with<br>
                an aim of providing greater opportunities to students.</p>
        </div>
    </div>
    <div class="info">
        {% comment %} <hr> {% endcomment %}
        <div class="details">
        <p>BCIIT has initiated its placement process for BCA Batch 2023-26 in the<br>
                month of July 2022 and will continue till the end of the academic year, with<br>
                an aim of providing greater opportunities to students.</p>
        </div>
    </div>
    <div class="info">
        {% comment %} <hr> {% endcomment %}
        <div class="details">
        <p>BCIIT has initiated its placement process for BCA Batch 2023-26 in the<br>
                month of July 2022 and will continue till the end of the academic year, with<br>
                an aim of providing greater opportunities to students.</p>
        </div>
    </div>
    <div class="info">
        {% comment %} <hr> {% endcomment %}
        <div class="details">
        <p>BCIIT has initiated its placement process for BCA Batch 2023-26 in the<br>
                month of July 2022 and will continue till the end of the academic year, with<br>
                an aim of providing greater opportunities to students.</p>
        </div>
    </div>

    
    <footer class="section-p1">
        <div class="copyright">
            <hr>
            <p>&copy 2024, Priyam & Sahil  </p>
        </div>
    </footer>
</body>
</html>
