{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>WELCOME TO BCIIT INFO PORTAL</h1>
    <br><br><br><br>
        <ul id="navbar">
            <li><a href="staf_info">Staf Information</a></li>
            <li><a href="student_info">Student Information</a></li>
            <li><a href="event_info">Event Information</a></li>
        </ul>
    <footer class="section-p1">
        <div class="copyright">
            <hr>
            <p>&copy 2024, Priyam & Sahil  </p>
        </div>
    </footer>
</body>
</html>
