{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/staf.css' %}">

</head>

<body>
    <h1>BANARSIDAS CHANDIWALA INSTITUTE OF INFORMATION TECHNOLOGY</h1>
    <br>
    <hr><br>
    <h3>STAFF INFORMATION: </h3>

    <div class="container">
        <div class="header">
            <h1>MR. ALOK MISHRA</h1>
            <img src="{%static 'images/Alok.png'%}" width="200px" class="profile-picture">
        </div>
    
        <div class="details">
            <table>
                <tr>
                    <th>Name</th>
                    <td>:</td>
                    <td>Mr. Alok Mishra</td>
                </tr>
                <tr>
                    <th>Designation</th>
                    <td>:</td>
                    <td>Asst. Professor</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>:</td>
                    <td>Computer Science</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>:</td>
                    <td>CSE</td>
                </tr>
                <tr>
                    <th>Educational Qualification</th>
                    <td>:</td>
                    <td>MTech (P) M.Sc (IT) MCA NIELIT O & A Level</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>:</td>
                    <td>alok@bciit.ac.in</td>
                </tr>
                <tr>
                    <th>Phone(O)</th>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Address Official</th>
                    <td>:</td>
                    <td>Chandiwala Estate, MaaAnadmai Marg, Kalkaji, Delhi-110019</td>
                </tr>
                <tr>
                    <th>Correspondence</th>
                    <td>:</td>
                    <td>Chandiwala Estate, MaaAnadmai Marg, Kalkaji, Delhi-110019</td>
                </tr>
                <tr>
                    <th>Specialization</th>
                    <td>:</td>
                    <td>Programming languages C, C++, Java(Core), python, MySQL, Django</td>
                </tr>
                <tr>
                    <th>Field of Interest</th>
                    <td>:</td>
                    <td>Research area (Software Development and Artificial Intelligence.)</td>
                </tr>
                <tr>
                    <th>Teaching/Research Experience</th>
                    <td>:</td>
                    <td>14+ years</td>
                </tr>
            </table>
        </div>
    
        <div class="about">
            <p>
                Having 14 years of Experience at Education Platform. Apart from teaching have experience in Management administration, Directions operations and Student Affairs. Played various role during his 14 years of experience Senior Faculty, Head of Deptt Computer Science and Head of International School. Having experience at international teaching platform as Python and Java Trainer. Headed and guided many projects. Headed many IT workshops for students like Cyber safety, Neuralink etc. Domain area is Programming languages C, C++, Java Core, python, MySQL, Django. Research area is Software Development and Artificial Intelligence. Received honour to be as chieft Guest at Judo association State level competition 2019. Received many Awards in Education from Reputed organizations like INSC, IESA and Nepal Samrastha Shikshak Award. Published Two Books in Multimedia and Web Technology (MWT) and Computer Science with C++ for CBSE XII.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <h1>MR. Mubarak</h1>
            <img src="{%static 'images/mubarak.jpg'%}" width="200px" class="profile-picture">
        </div>
    
        <div class="details">
            <table>
                <tr>
                    <th>Name</th>
                    <td>:</td>
                    <td>MR. Mubarak</td>
                </tr>
                <tr>
                    <th>Designation</th>
                    <td>:</td>
                    <td>Catering Manager</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>:</td>
                    <td>Food and Beverage Management</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>:</td>
                    <td>food & Beverage</td>
                </tr>
                <tr>
                    <th>Educational Qualification</th>
                    <td>:</td>
                    <td>Bachelor's Degree in Hospitality Management</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>:</td>
                    <td>mubarak@bciit.ac.in</td>
                </tr>
                <tr>
                    <th>Phone(O)</th>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Address Official</th>
                    <td>:</td>
                    <td>Chandiwala Estate, MaaAnadmai Marg, Kalkaji, Delhi-110019</td>
                </tr>
                <tr>
                    <th>Correspondence</th>
                    <td>:</td>
                    <td>Chandiwala Estate, MaaAnadmai Marg, Kalkaji, Delhi-110019</td>
                </tr>
                <tr>
                    <th>Specialization</th>
                    <td>:</td>
                    <td>Hospitality Management</td>
                </tr>
                <tr>
                    <th>Field of Interest</th>
                    <td>:</td>
                    <td>Hospitality Services</td>
                </tr>
                <tr>
                    <th>Teaching/Research Experience</th>
                    <td>:</td>
                    <td>14+ years</td>
                </tr>
            </table>
        </div>
    
        <div class="about">
            <p>
                Mr. Mubarak, serving as the Food and Beverage Coordinator at Banarsidas Chandiwala, embodies a vibrant personality coupled with a genuine passion for hospitality. His unwavering dedication to ensuring top-notch food services within the college premises has earned him admiration among students and faculty alike. With a keen eye for detail and a knack for organization, Mr. Mubarak orchestrates seamless dining experiences that cater to diverse tastes and preferences. Beyond his professional duties, he fosters a warm and welcoming environment, readily lending a helping hand to students and staff. His friendly demeanor and approachable nature make him a beloved figure on campus, earning him the reputation of being not just a service provider but also a trusted confidant. Mr. Mubarak's commitment to excellence and his unwavering support contribute significantly to the college's vibrant community and enrich the overall student experience.
            </p>
        </div>
    </div>
    {% comment %} <hr>     {% endcomment %}

<div class="container">
    <div class="header">
        <h1>DR. SUSHMA BAHUGUNA</h1>
        <img src="{%static 'images/sushma.png'%}" width="200px" class="profile-picture">
    </div>

    <div class="details">
        <table>
            <tr>
                <th>Name</th>
                <td>:</td>
                <td>Dr. Sushma Bahuguna</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>:</td>
                <td>Sr. Ast. Professor</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>:</td>
                <td>Information Technology</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>:</td>
                <td>MCA</td>
            </tr>
            <tr>
                <th>Educational Qualification</th>
                <td>:</td>
                <td>MCA, MTech(IT), Ph. D.</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>:</td>
                <td>sushma@bciit.ac.in</td>
            </tr>
            <tr>
                <th>Phone(O)</th>
                <td>:</td>
                <td>011-49020144, 49020100</td>
            </tr>
            <tr>
                <th>Address Official</th>
                <td>:</td>
                <td>Chandiwala Estate, Maa Anadmai Marg, Kalkaji, Delhi-110019</td>
            </tr>
            <tr>
                <th>Correspondence</th>
                <td>:</td>
                <td>Chandiwala Estate, Maa Anadmai Marg, Kalkaji, Delhi-110019</td>
            </tr>
            <tr>
                <th>Specialization</th>
                <td>:</td>
                <td>Computer Science</td>
            </tr>
            <tr>
                <th>Field of Interest</th>
                <td>:</td>
                <td>DBMS (Oracle, MySql, Ms-Access) NoSql(MongoDB), OOPS, Operating System, Programming</td>
            </tr>
            <tr>
                <th>Teaching/Research Experience</th>
                <td>:</td>
                <td>23+</td>
            </tr>
        </table>
    </div>

    <div class="about">
        <p>
            Dr. Sushma Bahuguna is working as a Sr. Ast. Professor at BCIIT. She obtained her Graduation degree from Pune University, B. Ed Degree from Bharatidasan university, Triuchurapally, Post-Graduation MCA Degree from Maharashi Dayanand University, Rohtak and M.Tech (IT) degree from G.G.S.I.P. University, Delhi and Ph. D (CSE) from Singhania University, Rajasthan. She has 23 plus years of experience in teaching and research. She has about 8 publications in National Conferences and 11 publications in peer-reviewed Journals. She is IBM DB2 Certified Professional. She has taught C, DBMS, Java, C++, Operating System, Software Engineering, Oracle, RDBMS, Visual Basic, C#.Net, ASP.Net, MySql, FullStack Development, Flutter and Dart, Mobile application development etc. at postgraduate level. She has guided 200+ projects at postgraduate level.
        </p>
    </div>
</div>



{% comment %} <hr> {% endcomment %}

<div class="container">
    <div class="header">
        <h1>MR. MEETENDER</h1>
        <img src="{%static 'images/meetender.png'%}" width="200px" class="profile-picture">
    </div>

    <div class="details">
        <table>
            <tr>
                <th>Name</th>
                <td>:</td>
                <td>Mr. Meetender</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>:</td>
                <td>Asstt. Professor</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>:</td>
                <td>Computer Science</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>:</td>
                <td>CSE</td>
            </tr>
            <tr>
                <th>Educational Qualification</th>
                <td>:</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>:</td>
                <td>meetender@bciit.ac.in</td>
            </tr>
            <tr>
                <th>Phone(O)</th>
                <td>:</td>
                <td>011-49020144, 49020100</td>
            </tr>
            <tr>
                <th>Address Official</th>
                <td>:</td>
                <td>Chandiwala Estate, Maa Anadmai Marg, Kalkaji, Delhi-110019</td>
            </tr>
            <tr>
                <th>Correspondence</th>
                <td>:</td>
                <td>Chandiwala Estate, Maa Anadmai Marg, Kalkaji, Delhi-110019</td>
            </tr>
            <tr>
                <th>Specialization</th>
                <td>:</td>
                <td>Java Programming</td>
            </tr>
            <tr>
                <th>Field of Interest</th>
                <td>:</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th>Teaching/Research Experience</th>
                <td>:</td>
                <td>3+ years</td>
            </tr>
        </table>
    </div>

    <div class="about">
        <p>
            Mr. Meetender is working as Asstt. Professor (Technical Communication) at BCIIT.
        </p>
    </div>
</div>

{% comment %} <hr> {% endcomment %}

<div class="container">
    <div class="header">
        <h1>MS. SONIA BATRA</h1>
        <img src="{%static 'images/sonia.png'%}" width="200px" class="profile-picture">
    </div>

    <div class="details">
        <table>
            <tr>
                <th>Name</th>
                <td>:</td>
                <td>Ms. Sonia Batra</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>:</td>
                <td>Asstt. Professor</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>:</td>
                <td>Information Technology</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>:</td>
                <td>CSE</td>
            </tr>
            <tr>
                <th>Educational Qualification</th>
                <td>:</td>
                <td>Ph. D. (P), MTech(CSE),MCA, BSc(Computer Applications)</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>:</td>
                <td>sonia@bciit.ac.in</td>
            </tr>
            <tr>
                <th>Phone(O)</th>
                <td>:</td>
                <td>011-49020144, 49020100</td>
            </tr>
            <tr>
                <th>Address Official</th>
                <td>:</td>
                <td>Chandiwala Estate, Maa Anadmai Marg, Kalkaji, Delhi-110019</td>
            </tr>
            <tr>
                <th>Correspondence</th>
                <td>:</td>
                <td>Chandiwala Estate, Maa Anadmai Marg, Kalkaji, Delhi-110019</td>
            </tr>
            <tr>
                <th>Specialization</th>
                <td>:</td>
                <td>Computer Science</td>
            </tr>
            <tr>
                <th>Field of Interest</th>
                <td>:</td>
                <td>Data Structures and Algorithms, Operating System, Artificial Intelligence, Software Engineering</td>
            </tr>
            <tr>
                <th>Teaching/Research Experience</th>
                <td>:</td>
                <td>10+ Years</td>
            </tr>
        </table>
    </div>

    <div class="about">
        <p>
            Ms. Sonia Batra is working as an Asstt. Professor at BCIIT. She obtained her Graduation degree from Kurukshetra University, Post-Graduation MCA Degree from Kurukshetra University and M.Tech (CSE) degree from MDU University, Rohtak. She has 10 plus years of experience in teaching and research. She has about 4 publications in National Conferences and 4 publications in International Journals. She has taught DBMS, Data Structures & Algorithms, Operating System, Software Engineering, Artificial Intelligence, Internet Fundamentals etc at graduate and postgraduate level. She has guided 10+ projects at postgraduate level. Her current areas of interest are Databases, Cyber Security.
        </p>
    </div>
</div>

    <footer class="section-p1">
        <div class="copyright">
            <hr>
            <p>&copy 2024, Priyam & Sahil </p>
        </div>
    </footer>
</body>

</html>