{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
<body>
    <h1>BANARSIDAS CHANDIWALA INSTITUTE OF INFORMATION TECHNOLOGY</h1>
    <br>
    <hr><br>
    <h3>STUDENT INFORMATION: </h3>
    <div class="img">
        <div class="info">
            <img src="{%static 'images/priyam.jpg'%}" alt="">
            <div class="details">
                <p>Name: Priyam Kumar Jha</p>
                <p>BCA-SECOND YEAR</p>
                <p>Interests: Travelling, Competitive Pillow Fighting, Weight lifting, Back End Developing
                <p>Priyam is pursuing Software Development with Django at Banarsidas Chandiwala. Focused on web development, Priyam is dedicated to mastering Django's intricacies, aiming to build robust and scalable web applications. With a keen interest in frontend and backend development, Priyam is determined to create innovative solutions in the ever-evolving tech landscape.</p>
            </div>
        </div>
        <div class="info">
            <img src="{%static 'images/sahil.jpg'%}" alt="">
            <div class="details">
                <p>Name: Sahil Gupta</p>
                <p>BCA-SECOND YEAR</p>
                <p>Interests: Travelling, Gym Boy, Competitive Napping, Back End Developing
                <p>Sahil, a student at Banarsidas Chandiwala, is delving into Software Development using Django. Driven by a passion for coding, Sahil is exploring Django's functionalities to create dynamic and user-friendly web applications. With a strong foundation in programming concepts, Sahil aspires to leverage Django's features to develop efficient and secure software solutions.</p>
            </div>
        </div>
        <div class="info">
            <img src="{%static 'images/ashish.jpg'%}" alt="">
            <div class="details">
                <p>Name: Ashish Dhull</p>
                <p>BCA-SECOND YEAR</p>
                <p>Interests: Travelling, Haryanvi, Bubble Wrap Popping, Back End Developing
                <p>Ashish is studying Data Science using Python at Banarsidas Chandiwala. Intrigued by data analysis and predictive modeling, Ashish is honing his skills in Python programming and statistical analysis to extract meaningful insights from data. With a focus on machine learning algorithms and data visualization techniques, Ashish aims to leverage data science to solve real-world problems.</p>
            </div>
        </div>
        <div class="info">
            <img src="{%static 'images/shivang.jpg'%}" alt="">
            <div class="details">
                <p>Name: Shivang Gulia</p>
                <p>BCA-SECOND YEAR</p>
                <p>Interests: Travelling, Make Back Muscle, Competitive Paper Airplane Folding, Back End Developing
                <p>Shivang is enrolled in Banarsidas Chandiwala's Software Development program, specializing in Django. With a focus on backend development, Shivang is immersing himself in Django's frameworks and tools to build scalable and high-performance web applications. Committed to mastering software engineering principles, Shivang aims to contribute to the advancement of technology.</p>
            </div>
        </div>
        <div class="info">
            <img src="{%static 'images/chitra.jpg'%}" alt="">
            <div class="details">
                <p>Name: Chitra Gautam</p>
                <p>BCA-SECOND YEAR</p>
                <p>Interests: Travelling, Small Paw, Spoon Racing, Back End Developing
                <p>Chitra, a student at Banarsidas Chandiwala, is pursuing Data Science with Python. Fascinated by the power of data, Chitra is exploring Python's libraries and tools for data manipulation, analysis, and visualization. With a strong foundation in statistics and machine learning, Chitra is committed to leveraging data science techniques to drive informed decision-making and drive innovation in various industries.</p>
            </div>
        </div>
        <div class="info">
            <img src="{%static 'images/sanvi.jpg'%}" alt="">
            <div class="details">
                <p>Name: Sannvi Rawat</p>
                <p>BCA-SECOND YEAR</p>
                <p>Interests: Travelling, Masculine, Bubble Wrap Popping, Back End Developing
                <p>Sanvi, a student at Banarsidas Chandiwala, is pursuing Software Development with Django. Passionate about creating impactful web applications, Sanvi is diving deep into Django's architecture and features to develop innovative solutions. With a strong emphasis on problem-solving and creativity, Sanvi is determined to make a mark in the tech industry.</p>
            </div>
        </div>
    </div>
    <footer class="section-p1">
        <div class="copyright">
            <hr>
            <p>&copy 2024, Priyam & Sahil  </p>
        </div>
    </footer>
</body>
</html>
